VITE_SUPABASE_URL=https://opmtijpovnwqnppkotgq.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9wbXRpanBvdm53cW5wcGtvdGdxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ0NjY3NjcsImV4cCI6MjEwMDA0Mjc2N30.lgMjAtzzZr4pBcCqJ0NfxNyHiryOtUgt_eKpcjOTnCE